### lines ###
lines.linewidth: 1

### ticks ###
xtick.direction: in
ytick.direction: in
xtick.top: True
ytick.right: True
axes.labelpad: 2.0
axes.axisbelow: True

### fonts ###
# trying to find a sans-serif configuration for math that 
# is not a terrible eyesore
# this is the best usetex:True option I have found...
# text.usetex: True
# text.latex.preamble: \usepackage{arev}

# and the best usetex:False option I found...
text.usetex: False
font.family: sans-serif
font.sans-serif: Helvetica
mathtext.fontset : custom
mathtext.default: regular
mathtext.rm : Helvetica
mathtext.it : Helvetica:italic
mathtext.bf : Helvetica:bold
mathtext.sf : Helvetica
mathtext.tt : Helvetica
mathtext.cal : Helvetica:italic

font.size: 14
axes.labelsize: 14
xtick.labelsize: 12
ytick.labelsize: 12
    
# legends
legend.frameon: False
legend.fontsize: 12
legend.handletextpad: 0.25
legend.handlelength: 1
legend.borderaxespad : 0.25

# maybe needed to avoid Type 3 fonts
pdf.fonttype: 42
ps.fonttype: 42

# stuff that won't affect my vector graphic output
# but makes my workflow easier
savefig.dpi: 100
figure.dpi: 100
nbagg.transparent: False